<footer class="site-footer">
  <div class="footer-icons">
    <a href="https://www.instagram.com/danilyuk.photographer/?igshid=YmMyMTA2M2Y%3D" target="_blank" aria-label="Instagram">
      <img src="/static/footer/inst.svg" alt="Instagram" />
    </a>
    <a href="https://t.me/+RqAbSSzP-ycxMDAy" target="_blank" aria-label="Telegram">
      <img src="/static/footer/tg.svg" alt="Telegram" />
    </a>
    <a href="https://vk.com/danilyukphoto" target="_blank" aria-label="VK">
      <img src="/static/footer/vk.svg" alt="VK" />
    </a>
  </div>
  <div class="footer-text">
    <p>Коммерческий фотограф Екатерина Данилюк<br>г. Екатеринбург</p>
    <p class="footer-disclaimer">
      Instagram принадлежит компании Meta, признанной экстремистской организацией<br>
      и запрещённой в Российской Федерации.
    </p>
  </div>
</footer>
